# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\GitHub\bcpd\win\VisualStudio codebase based on best match to current usage at 2024/03/07
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

[*]
charset = utf-8              # ファイルの文字コード
end_of_line = lf             # 改行コード（lf, cr, crlf）
insert_final_newline = true  # ファイルの末尾に改行を自動的に追加
trim_trailing_whitespace = true # 行末の空白を自動的に削除


[*.{c,h}]
indent_style = space         # インデントのスタイル（space or tab）
indent_size = 4
