################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/win/Work
/BCPD-Win/Work
/demo/shapeTransfer/transferV1_y.interpolated.obj
/demo/shapeTransfer/transferV2_y.interpolated.obj
/win/data
/win/MinGW-x32/data
/win/MinGW-x32/Work
*.bin
*.gif
/win/MinGW-x32/output_y.txt
/win/MinGW-x32/output_y.interpolated.txt
/win/MinGW-x32/output_info.txt
/win/MinGW-x32/output_comptime.txt
/win/VisualStudio/.vs/BCPD-Win/v16/ipch/AutoPCH
/win/VisualStudio/.vs/BCPD-Win/v16
/win/VisualStudio/BCPD-Win/Release
/win/VisualStudio/BCPD-Win/x64/Release
/win/VisualStudio/def
/win/VisualStudio/Win32/Release/output_y.txt
/win/VisualStudio/Win32/Release/output_y.interpolated.txt
/win/VisualStudio/Win32/Release/output_info.txt
/win/VisualStudio/Win32/Release/output_comptime.txt
/win/VisualStudio/x64/Release/output_y.txt
/win/VisualStudio/x64/Release/output_y.interpolated.txt
/win/VisualStudio/x64/Release/output_info.txt
/win/VisualStudio/x64/Release/output_comptime.txt
/win/VisualStudio/Win32/Release/BCPD-Win.exe
/win/VisualStudio/Win32/Release/BCPD-Win.pdb
/win/VisualStudio/x64/Release/BCPD-Win.exe
/win/VisualStudio/x64/Release/BCPD-Win.pdb
/visualize/Work
